body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #003049;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5em;
  margin: 0;
  letter-spacing: 1.5px;
  font-weight: 700;
}

header img {
  border-radius: 50%;
  margin-top: 20px;
}

.content {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.imagen {
  width: 50%;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

video {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #003049;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
  font-size: 1em;
  margin: 0;
}

nav {
  margin: 20px auto;
  width: 65%;
  text-align: center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  padding: 12px 20px;
}

nav ul.menu li.menu-item a {
  color: #003049;
  padding: 12px 20px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
}

nav ul.menu li.menu-item a:hover {
  color: #78c0a8;
  border-color: #78c0a8;
  transform: scale(1.1);
}

nav ul.menu li.menu-item a.active {
  background-color: #78c0a8;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.img {
  display: block;
  margin: 20px auto; /* Centra la imagen horizontalmente */
  width: 600px; /* Ajusta el tamaño de las imágenes */
  height: 300px; /* Mantiene la proporción original de la imagen */
  object-fit: cover;
  border-radius: 100px; /* Borde redondeado */
  transition: all 2s;
}
.img:hover {
  border-radius: 20px;
}
